
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500');
// @import url('https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css');

// Variables
@import 'variables';

@import '~sleek-dashboard/dist/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css';
@import '~sleek-dashboard/dist/assets/plugins/daterangepicker/daterangepicker.css';
@import '~sleek-dashboard/dist/assets/css/sleek.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
